.topContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.556vw;
    padding: 8.888vw 19.618vw 0;
}

.directions{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: rgba(124, 124, 124, 0.5);
    color: white;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 13vw;
}

.directions:hover{
    background: #F3CCCC;
    cursor: pointer;
}

.itemDetailSlideContainer .itemDetailsContainer{
    width: 49.722vw;
}

.itemDetailSlideContainer .itemDetailsContainer .imageBox{
    display: flex;
    width: 100%;
    padding: 0 4.028vw;
}

.itemDetailSlideContainer .itemDetailsContainer .imageBox img{
    width: 100%;
    height: 34.722vw;
    border-radius: 1vw;
}

.carDot {
    cursor: pointer;
    height: 0.347vw;
    width: 0.347vw;
    background: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 4.167vw;
}

.carDot:hover {
    background-color: rgb(99, 98, 98);
}

hr{
    display: none;
}

.itemDetailSlideContainer .itemDetailsContainer .itemDescription{
    display: flex;
    justify-content: space-between;
    margin-top: 4.167vw;
    margin-bottom: 14.861vw;
    color: #767676;
    font-size: 1.111vw;
    line-height: 2.083vw;
}

.itemDetailSlideContainer .itemDetailsContainer .itemDescription div{
    width: fit-content;
}

.collections{
    font-size: 1.667vw;
    line-height: 5.556vw;
    margin-bottom: 1.389vw;
}


/* MOBILE VIEW */

@media only screen and (max-width: 600px) {
     .directions{
        display: none;
    }

    .carDot{
        display: none;
    }

    .topContent{
        margin-top: 29.867vw;
        padding: 0 0 0 10.133vw;
    }

    .itemDetailSlideContainer .itemDetailsContainer{
        width: 80vw;
    }

    .itemDetailSlideContainer .itemDetailsContainer .imageBox img{
        width: 100%;
        height: 16vw;
    }

    .itemDetailSlideContainer .itemDetailsContainer .imageBox .item1 {
        grid-area: item1;
        height: 80vw;
        border-radius: 1.6vw;
    }

    .itemDetailSlideContainer .itemDetailsContainer .imageBox .item2 { grid-area: item2; }
    .itemDetailSlideContainer .itemDetailsContainer .imageBox .item3 { grid-area: item3; }
    .itemDetailSlideContainer .itemDetailsContainer .imageBox .item4 { grid-area: item4; }
    .itemDetailSlideContainer .itemDetailsContainer .imageBox .item5 { grid-area: item5; }

    .itemDetailSlideContainer .itemDetailsContainer .imageBox{
        width: 100%;
        height: fit-content;
        padding: 0;
        display: grid;
        grid-template-areas:
        'item1 item1 item1 item1'
        'item2 item3 item4 item5';
        grid-gap: 5.333vw;
    }

    hr{
        display: flex;
        width: 100%;
        background: rgba(196, 196, 196, 0.7);
        border: 1px solid rgba(196, 196, 196, 0.7);;
        margin-top: 5.467vw;
    }

    .itemDetailSlideContainer .itemDetailsContainer .itemDescription{
        align-items: center;
        margin-top: 5.333vw;
        margin-bottom: 15.2vw;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .itemDetailSlideContainer .itemDetailsContainer .itemDescription div{
        margin-bottom: 5.333vw;
        /* width: 40vw; */
        font-size: 3.4vw;
        line-height: 5.333vw;
    }

    .itemDetailSlideContainer .itemDetailsContainer .itemDescription div:nth-of-type(1){
        margin-right: 5vw;
    }

    .collections p{
        font-size: 3.733vw;
        line-height: 5.333vw;
        margin-bottom: 2.4vw;
    }

}